[Unit]
Description=Populate the overlayfs ram mount with 'upper' and 'work' dirs
DefaultDependencies=no
RequiresMountsFor=/ovl
Before=var.mount
Before=etc.mount
Before=root.mount
Before=home.mount

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/systemd-tmpfiles --create --remove --boot --exclude-prefix=/dev ovl.conf


[Install]
RequiredBy = var.mount
RequiredBy = etc.mount
